[submodule "inih"]
	path = inih
	url = git@github.com:benhoyt/inih.git
[submodule "amt-redir-libs"]
	path = amt-redir-libs
	url = /root/amt-redir-libs
[submodule "cmp"]
	path = cmp
	url = git@github.com:camgunz/cmp.git
